

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
                <div class="image" style="margin-top: 60px">
                        
                        <img src="assets/img/anh_db.png" title="Dự báo số lượng những năm tiếp theo">
                </div>
                <p></p>
        </div>
        <div class="col-sm-2">
            <!-- <div class="image">
                <img src="assets/img/sai.png" alt="">
            </div> -->
        </div>
        <div class="col-sm-6">
                <div class="image" style="margin-top: 60px">
                        
                    <img src="assets/img/sai.png" alt="" title="Sai số">
                </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-6">
            <h6 style="width: 100%; text-algin:center;">Dự báo số lượng những năm tiếp theo</h6>
        </div>
        <div class="col-sm-6">
                <h6 style="width: 100%; text-algin:center;">Đồ thị sai số</h6>
        </div>
    </div>
    
    
    
</div>


