<!-- <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand text-white">Angular</a>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
    <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
</nav> -->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Dự Báo Số Lượng Hành Khách </h5>
  <nav class="my-2 my-md-0 mr-md-3 ">
    <a class="p-2 text-dark" [routerLink]="['/home/members']">Trang Chủ</a>
    
    <a class="p-2 text-dark" [routerLink]="['/home/messages']">Dự Báo Số Lượng</a>
    <a class="p-2 text-dark" [routerLink]="['/home/list']" routerLinkActive="router-link-active" >Thông Tin Liên Hệ</a>
    <!-- <a class="p-2 text-dark" *ngIf="userDetails">Xin chào,<strong>{{userDetails.fullName}}</strong></a> -->
    
  </nav>
  <!-- <a class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</a> -->
</div>

<router-outlet></router-outlet>